* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 32pt;
  font-family: 'Roboto Mono', monospace;
}

h2 {
  margin-left: 50px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid {
margin: 50px;
  width: 500px;
 height: 500px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 5px;
  height: 5px;
  border: 1px solid black;
}

div.grid-item.snake {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
}


div.grid-item.food {
  background-color: HotPink;
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.dead-snake {
  background-color: red;
  background-repeat: no-repeat;
  background-size: contain;
}

/* div.grid-item.snake-head {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
} */
